<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xmlns:context="http://www.springframework.org/schema/context"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--        https://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--        http://www.springframework.org/schema/context-->
<!--        https://www.springframework.org/schema/context/spring-context.xsd">-->

<!--    <context:annotation-config/>-->
<!--    <context:component-scan base-package="com.huihe"/>-->
<!--    <bean id="dao" class="com.huihe.dao.impl.OracleDao">-->
<!--        &lt;!&ndash; collaborators and configuration for this bean go here &ndash;&gt;-->
<!--    </bean>-->

<!--    <bean id="dao" class="com.huihe.factory.DaoFactory" factory-method="getInstance">-->
<!--        &lt;!&ndash; collaborators and configuration for this bean go here &ndash;&gt;-->
<!--    </bean>-->

    <!-- more bean definitions go here -->

<!--    <bean id="factory" class="com.huihe.factory.DaoFactory">-->
<!--        &lt;!&ndash; collaborators and configuration for this bean go here &ndash;&gt;-->
<!--    </bean>-->

<!--    <bean id="dao" factory-bean="factory" factory-method="getInstance">-->
<!--        &lt;!&ndash; collaborators and configuration for this bean go here &ndash;&gt;-->
<!--    </bean>-->
<!--  构造器注入  -->
<!--    <bean id="myDate" class="java.util.Date"/>-->

<!--    <bean id="user1" class="com.huihe.model.User">-->
<!--        <constructor-arg>-->
<!--            <ref bean="myDate"/>-->
<!--        </constructor-arg>-->
<!--        <constructor-arg>-->
<!--            <value>hxj</value>-->
<!--        </constructor-arg>-->
<!--    </bean>-->

<!--    <bean id="user2" class="com.huihe.model.User">-->
<!--        <constructor-arg name="username" value="hxj"/>-->
<!--        <constructor-arg name="birthday" ref="myDate"/>-->
<!--    </bean>-->

<!--    <bean id="user3" class="com.huihe.model.User">-->
<!--        <constructor-arg index="0" value="hxj"/>-->
<!--        <constructor-arg index="1" ref="myDate"/>-->
<!--    </bean>-->


<!--  set注入  -->
<!--    <bean id="dog" class="com.huihe.model.Dog"/>-->
<!--    <bean id="username" class="java.lang.String"/>-->
<!--    <bean id="user" class="com.huihe.model.User" autowire="constructor">-->
<!--&lt;!&ndash;        <property name="username"  value="hxj"/>&ndash;&gt;-->
<!--    </bean>-->

    <!--  p命名空间-->
<!--    <bean id="myDate" class="java.util.Date"/>-->
<!--    <bean id="user" class="com.huihe.model.User"-->
<!--          p:username="hxj" p:birthday-ref="myDate"/>-->

    <!--  p命名空间-->
<!--        <bean id="myDate" class="java.util.Date"/>-->
<!--        <bean id="user1" class="com.huihe.model.User"-->
<!--         c:_0="hxj" c:_1-ref="myDate"/>-->

<!--        <bean id="user2" class="com.huihe.model.User"-->
<!--          c:username="hxj" c:birthday-ref="myDate"/>-->

<!--    <bean id="dog" class="com.huihe.model.Dog"/>-->
<!--    <bean id="dog1" class="com.huihe.model.Dog"/>-->
<!--    <bean id="user" class="com.huihe.model.User"/>-->
<!--</beans>-->